
div.welcomediv
{
    font-size: 20px;
    text-shadow: 3px 4px black;
    background-color: #515051;
    background-position: center;
    color:white; 
     text-align: center;
    text-transform: uppercase;
    word-spacing: 6px;
    letter-spacing: -2px;
    box-shadow: 20px 20px 20px black ;
    border-radius:50px;
    border-style:inset; 
    border-width: 2px 1px 2px 1px ;
    border-color: #0061F4;
    position: relative;
}
img
{
    width :100% ;
    height: 300px ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center ;
    box-shadow: 3px 4px 5px #939ABF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px double #939ABF ;
    transition: 1s ease-in-out;
}
img:hover
{
   border-radius: 30px ;
   box-shadow: 3px 1px 3px 1px ;
}
form
{
    color: white ;
    text-align: center ;
    text-transform: capitalize;
    padding: 10px ;
    margin: 10px ;
    background-color: #302D30 ;
    background-size: 300px;
    box-shadow: 30px 20px 50px #1B1B23;
    border-radius: 30px;
    font-size: 20px;
    
}
div.container
{
   font-size: 27px;
   font-style:oblique;
    text-shadow: 60px 100px 100px black ;
}
.form-control
{
   width: 205px;
   height: 32px;
   border: 2px solid black ;
   border-radius: 9px ; 
}

body
{
    background-size: 5000px;
    background-image: url(" ///F:/fitness/photos/back.jpg");
    background-repeat: no-repeat;
}
button
{
   background-color: black;
   width: 150px;
   height: 40px ;
   color: white ;
   margin: 10px ;
   padding: 5px ;
   border-radius: 5px ;
   border: 2px solid white ;
   transition: 1s ease-in-out ;
}
button:hover
{
   transform: rotate(360deg) ;
   background-color: #676767; 
}
img:hover
{
   transform:scaleY(1.1);
}
.sign
{
   background-color: black ;
   padding: 10px;
   position: absolute;
   top:30px ;
   left: 1100px;
   width:200px ;
   height: 60px ;
   border: 1px solid white;
   border-radius: 50%;
   transition: 2s ease-in-out ;
}
.sign >a
{
   color:white ;
   font-size: 30px;
   text-decoration: none;
   text-align: center;
   padding:10px;
}
.sign:hover
{
   background: #676767;
   color: black;
   transform: scale(1.2,1.3);
   border-radius: 50% 50% ;
}
