body {
    background-color:#404442;
    perspective: 600px;
   
}
.container
{
    width:200px;
    height: 279px;
    position:relative;
    transform-style:preserve-3d;
    transition: 2s ease-in-out ;
    left: 10px;
    top:10px;
}
.container div
{
    width:100%;
    height:100%;
    border:1px solid white;
    text-align:center;
    color: white;
    padding: 5px;
    word-break: break-all;
    position: absolute;
    border-radius:10px;
    font-family:arial;
}

.front {
  
    background-color :#9B1194;
    border:1px solid white;
    z-index:2;
    backface-visibility: hidden;
   
}

.front  img
{
    width:150px;
    height:120px;
    border:1px solid black ;
    margin:auto;
    top:20px;
    border-radius: 50% 50%;
}

.back {
    background-color :black;
    position:absolute;
    z-index:1;
    font-size:22px ;
    text-align: center ;
    backface-visibility: hidden ;
    transform:rotateY(180deg);
}
time
{
    color: #676767 ;
    top:100px;
}

.container:hover {
     transform:rotateY(180deg) scale(0.7,0.6);

    
}

.headerDiv
{
  position:relative;
  background-color :black;
  width:95%;
  padding :20px ;
  text-align :center ;
  border:2px solid #918B8B ;
  font-size:30px;
  color:white;
  text-shadow: 13px 5px 4px #232020;
  font-family:Arial , tahoma;
  margin:50px auto;
 box-shadow:10px 10px 5px #676767,10px 10px 5px #33322D,10px 10px 5px #161515;
  
}
.headerDiv > img
{
  width:200px ;
  height:200px ;
  border-radius:50%;
  border:2px solid black ;
  box-shadow:7px 2px 2px #272121;
}
.headerDiv div
{
    background-color: green;
    width:200px;
    height: 60px ;
    text-align:center;
    float:right ;
    padding: 5px;
    margin-top: 10px;
    font-family:Arial ,tahoma;
    position: absolute;
    border: 2px solid white ;
    border-radius: 10px;
    text-decoration: none;
    font-size: 40px;
    color: white;
}
header {
 color: red ;
 font-size: 25px;
 margin-top: 10px; 
}