   *{
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -o-box-sizing:border-box;
        box-sizing:border-box;
    }
body {
    background-color :#e6f1ff;
     animation: backgroundBody 20s linear infinite ;
     animation-fill-mode:both;
     animation-direction:alternate;
}
.header {
    background: #f7460e;
    color:#fff;
    width: 100%;
    height: 150px ;
    position: relative;
    border:inset 3px black ;
    padding:20px;
    display:flex;
}


.header  h1 {
    position:relative;
    font-size:50px;
    font-family:cursive,Arial;
    text-align:center;
    margin :auto ;
    left:10px ;
    animation: fill 5s ease-in-out infinite .3s alternate ;
}
@keyframes fill {
    0% {
        transform: translate(0px);
        text-shadow:3px 4px 3px black ;
       
    }
      50% {
        transform: translate(200px);
        color:#630b29;
        text-shadow:3px 4px 3px white ;
    }
    100%
     {
        transform: translate(-200px);
         top:15%;
         text-shadow:3px 4px 3px black ;
     }
}
@keyframes backgroundBody
{
    0%{
        background-color: #e6f1ff;
    }
      10%{
        background-color:#cce4ff ;
    }
      20%{
        background-color: #b3d6ff;
    }
      30%{
        background-color:#99c9ff ;
    }
      40%{
        background-color: #4da0ff;
    }
      50%{
        background-color: #1a85ff;
    }  60%{
        background-color:#005fcc ;
    }
    
}
    fieldset ,.container  {
        width:45%;
        background-color:#f31a0a;
        font-family:cursive , Monaco, Arial;
        border-radius:20px;
        border:2px solid black;
        margin-bottom:20px;
        
    }
    legend {
        font-weight:bold ;
        font-size:40px;
    }
    .memberForm , .co {
        position:relative;
        padding:10px;
        background-color:#EF4C07;
        color:white;
        border:1px solid white ;
        border-radius:20px;
        
    }
    input  ,select,.container input{
         display:block;
         background-color:#CCC;
         margin :20px 10px;
         width:500px;
         height:60px;
         font-size:30px;
         padding:10px;
         border-radius:10px;
         border: 2px solid black ;
    }

    .time ,label  {
        display:inline-block;
         margin :5px 5px;
         width:250px;
         height:50px;
         font-size:30px;
    }
    .container   {
        position:relative;
        display:flex;
    }
    .container input
    {
        position:relative;
        left:20px;
        width:170px;
        background-color:green;
        border: 2px solid white ;
    }
    .list {
        background-color:black;
        border-radius:0px 100px 100px 0px ;
        padding-top:20px;
    }
    .list:hover {
        background-color:#232121;
    }